.header-container {
    border-radius: clamp(8px, 0.833vw, 0.833vw);
    width: 100%;
    background: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(48px, 2.5vw, 2.5vw);
    overflow: hidden;
    position: absolute;
    z-index: 9999;
    padding: clamp(8px, 0.833vw, 0.833vw);
    box-shadow: 0 0 clamp(4px, 0.42vw, 0.42vw) gray;
    opacity: 1;
    transition: 0.2s;
}

.header-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(8px, 0.42vw, 0.42vw);
}

input[type=datetime-local] {
    all: unset;
    background: white;
    font-size: clamp(16px, 0.833vw, 0.833vw);
    border-radius: clamp(4px, 0.21vw, 0.21vw);
    padding: clamp(4px, 0.21vw, 0.21vw) clamp(8px, 0.42vw, 0.42vw);
    border: 1px solid #004d98;
}


.form-control {
    cursor: pointer;
    font-family: system-ui, sans-serif;
    font-size: clamp(16px, 0.833vw, 0.833vw);
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
  
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    margin-top: 2px;
    font: inherit;
    color: #004d98;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #004d98;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #004d98;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.field-label {
    font-size: clamp(16px, 0.833vw, 0.833vw);
    font-weight: bold;
    color: #004d98;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(8px, 0.42vw, 0.42vw);
}

.option {
    display: flex;
    gap: clamp(4px, 0.21vw, 0.21vw);
}

button {
    all: unset;
    background: #004d98;
    color: white;
    border-radius: clamp(4px, 0.42vw, 0.42vw);
    padding: clamp(8px, 0.833vw, 0.833vw);
    margin: auto 0;
    cursor: pointer;
    font-size: clamp(12px, 0.833vw, 0.833vw);
}

.visibility-button {
    background: gray;
    position: absolute;
    z-index: 99999;
    top: 0;
    right: 0;
    padding: clamp(8px, 0.42vw, 0.42vw); 
}

.visibility-icon {
    transition: 0.3s;
    transform: rotate(180deg);
}

.rotate {
    transform: rotate(360deg);
}

.hidden {
    opacity: 0;
    transform: translateY(-100vh);
}