<form
    [ngClass]="!!showHeader ? 'header-container' : 'header-container hidden'"
    [formGroup]="mapForm"
    (ngSubmit)="onSubmit()"
>
    <div class="header-field">
        <label class="field-label">Período</label>
        <div class="options-container">
            <input id="startAt" name="startAt" formControlName="startAt" type="datetime-local" />
            <input id="endAt" name="endAt" formControlName="endAt" type="datetime-local" />
        </div>
    </div>
    <div class="header-field">
        <label class="field-label">Tipo de dado</label>
        <div class="options-container">
            <div class="option">
                <label class="form-control" for="dataType1">
                    <input
                        id="dataType1"
                        name="dataType"
                        formControlName="dataType"
                        value="rssi"
                        type="radio"
                    /> 
                    RSSI
                </label>
            </div>
            <div class="option">
                <label class="form-control" for="dataType2">
                    <input
                        id="dataType2"
                        name="dataType"
                        checked
                        formControlName="dataType"
                        value="custo"
                        type="radio"
                    /> 
                    Custo
                </label>
            </div>
        </div>
    </div>
    <div class="header-field">
        <label class="field-label">Precisão</label>
        <div class="options-container">
            <div class="option">
                <label class="form-control" for="precision1">
                    <input
                        id="precision1"
                        name="precision"
                        formControlName="precision"
                        value=0.00001
                        type="radio"
                    /> 
                    1 metro
                </label>
            </div>
            <div class="option">
                <label class="form-control" for="precision2">
                    <input
                        id="precision2"
                        name="precision"
                        formControlName="precision"
                        value=0.0001
                        type="radio"
                    /> 
                    10 metros
                </label>
            </div>
            <div class="option">
                <label class="form-control" for="precision3">
                    <input
                        id="precision3"
                        name="precision"
                        checked
                        formControlName="precision"
                        value=0.001
                        type="radio"
                    /> 
                    100 metros
                </label>
            </div>
        </div>
    </div>
    <button type="submit">Exibir</button>
    <button type="button" (click)="onGenerateKMLFile()">Gerar KML</button>
</form>
<button
    class="visibility-button"
    (click)="onToggleShowHeader()"
>
    <ng-icon
        [ngClass]="!!showHeader ? 'visibility-icon rotate' : 'visibility-icon'"
        name="bootstrapChevronCompactUp"
    ></ng-icon>
</button>
