<form
    class="page-container"
    [formGroup]="equipmentForm"
    (ngSubmit)="onSubmit()"
>
    <div class="header-container">
        <h3>Equipamento {{id}}</h3>
        <button type="submit">Salvar</button>
    </div>
    <div class="formInput-container">
        <label for="equipament">Nome</label>
        <input id="equipament" name="equipament" formControlName="equipament" />
    </div>
    <div class="formInput-container">
        <label for="sigla">Sigla</label>
        <input id="sigla" name="sigla" formControlName="sigla" />
    </div>
    <div style="display: flex; flex-direction: column; gap: 4px; align-items: flex-start;">
        <label for="isFixed">Estrutura fixa</label>
        <input id="isFixed" name="isFixed" formControlName="isFixed" type="checkbox" />
    </div>
    <div class="formInput-container"  style="min-width: 100%;">
        <label for="description">Descrição</label>
        <textarea id="description" name="description" formControlName="description">   
        </textarea>
    </div>
</form>