<form
    class="page-container"
    [formGroup]="radioForm"
    (ngSubmit)="onSubmit()"
>
    <div class="header-container">
        <h3>Rádio</h3>
        <button type="submit">Salvar</button>
    </div>
    <div class="formInput-container">
        <label for="platform">Plataforma</label>
        <input id="platform" name="platform" formControlName="platform" />
    </div>
    <div class="formInput-container">
        <label for="uptime">Uptime</label>
        <input id="uptime" type="number" name="uptime" formControlName="uptime" />
    </div>
    <div class="formInput-container">
        <label for="idle">Idle</label>
        <input id="idle" type="number" name="idle" formControlName="idle" />
    </div>
    <div class="formInput-container">
        <label for="running">Running</label>
        <input id="running" type="number" name="running" formControlName="running" />
    </div>
    <div class="formInput-container">
        <label for="bridgeup">Bridgeup</label>
        <input id="bridgeup" type="number" name="bridgeup" formControlName="bridgeup" />
    </div>
    <div class="formInput-container">
        <label for="version">Versão</label>
        <input id="version" name="version" formControlName="version" />
    </div>
    <div class="formInput-container">
        <label for="freeMemory">Memória Livre</label>
        <input id="freeMemory" type="number" name="freeMemory" formControlName="freeMemory" />
    </div>
    <div class="formInput-container">
        <label for="generateEntropy">Generate Entropy</label>
        <input id="generateEntropy" type="number" name="generateEntropy" formControlName="generateEntropy" />
    </div>
    <div class="formInput-container">
        <label for="factoryMode">Modo de fábrica</label>
        <input id="factoryMode" type="number" name="factoryMode" formControlName="factoryMode" />
    </div>
    <div class="formInput-container">
        <label for="networkId">Network ID</label>
        <input id="networkId" type="number" name="networkId" formControlName="networkId" />
    </div>
    <div class="formInput-container">
        <label for="ipv4address">ipv4address</label>
        <input id="ipv4address" name="ipv4address" formControlName="ipv4address" />
    </div>
    <div class="formInput-container">
        <label for="subnet">Subnet</label>
        <input id="subnet" name="subnet" formControlName="subnet" />
    </div>
    <div class="formInput-container">
        <label for="gateway">Gateway</label>
        <input id="gateway" name="gateway" formControlName="gateway" />
    </div>
    <div class="formInput-container">
        <label for="dns">DNS</label>
        <input id="dns" name="dns" formControlName="dns" />
    </div>
    <div class="formInput-container">
        <label for="ipv6address">ipv6address</label>
        <input id="ipv6address" name="ipv6address" formControlName="ipv6address" />
    </div>
    <div class="formInput-container">
        <label for="encapId">encapId</label>
        <input id="encapId" type="number" name="encapId" formControlName="encapId" />
    </div>
    <div class="formInput-container">
        <label for="locked">locked</label>
        <input id="locked" type="number" name="locked" formControlName="locked" />
    </div>
    <div class="formInput-container">
        <label for="reboot">Reboot</label>
        <input id="reboot" type="number" name="reboot" formControlName="reboot" />
    </div>
    <div class="formInput-container">
        <label for="legacyPlatform">Plataforma legado</label>
        <input id="legacyPlatform" name="legacyPlatform" formControlName="legacyPlatform" />
    </div>
    <div class="formInput-container">
        <label for="temperature">Temperatura</label>
        <input id="temperature" type="number" name="temperature" formControlName="temperature" />
    </div>
    <div class="formInput-container">
        <label for="isRebooting">IsRebooting</label>
        <input id="isRebooting" type="number" name="isRebooting" formControlName="isRebooting" />
    </div>
    <div class="formInput-container">
        <label for="bootCounter">Boot Counter</label>
        <input id="bootCounter" type="number" name="bootCounter" formControlName="bootCounter" />
    </div>
    <div class="formInput-container">
        <label for="idsystemtype_fk">Tipo de rádio</label>
        <select
            id="idsystemtype_fk"
            name="idsystemtype_fk"
            formControlName="idsystemtype_fk"
        >
            <option value={{null}}>Selecione o tipo de rádio</option>
            <ng-template
                ngFor
                let-item
                [ngForOf]="radioTypeOptions"
                let-i="index"
            >
                <option value={{item.value}}>{{item.label}}</option>
            </ng-template>
        </select>
    </div>
    <div class="formInput-container">
        <label for="idequipament_fk">Equipamento</label>
        <select
            id="idequipament_fk"
            name="idequipament_fk"
            formControlName="idequipament_fk"
        >
            <option value={{null}}>Selecione o equipamento</option>
            <ng-template
                ngFor
                let-item
                [ngForOf]="equipmentOptions"
                let-i="index"
            >
                <option value={{item.value}}>{{item.label}}</option>
            </ng-template>
        </select>
    </div>
    <div class="formInput-container" style="min-width: 100%;">
        <label for="description">Descrição</label>
        <textarea id="description" name="description" formControlName="description">   
        </textarea>
    </div>
</form>