<div class="page-container">
    <div class="header-container">
        <h3>Rádios</h3>
        <a routerLink="/radios/novo">Criar</a>
    </div>
    <app-filters
        [filterOptions]="filterOptions"
        [filters]="filters"
        [onChangeFilters]="onChangeFilters">
    </app-filters>
    <data-grid
        [columns]="columns"
        [fetchData]="fetchData"
    ></data-grid>
</div>
<ng-template [ngIf]="!!idToDelete">
    <modal
        [title]="'Confirmação'"
        [message]="'Tem certeza que deseja excluir o rádio?'"
        [onClose]="onCloseModal"
        [onConfirm]="onConfirmDelete"
    ></modal>
</ng-template>