* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.formInput-container {
  position: relative;
  border: 1px solid #004d98;
  border-radius: clamp(8px, 0.42vw, 0.42vw);
  display: flex;
  flex: 1;
}

.formInput-container label {
  position: absolute;
  top: calc(-1 * clamp(8px, 0.42vw, 0.42vw));
  left: clamp(8px, 0.42vw, 0.42vw);
  font-size: clamp(12px, 0.833vw, 0.833vw);
  background: white;
  padding: 0 clamp(2px, 0.12vw, 0.12vw);
  color: #004d98;
}

.formInput-container input, textarea, select {
  all: unset;
  font-size: clamp(12px, 0.833vw, 0.833vw);
  padding: clamp(10px, 0.6vw, 0.6vw) clamp(16px, 0.83vw, 0.83vw);
  flex: 1;
  border-radius: clamp(8px, 0.42vw, 0.42vw);
}